.signup{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    /* background-color: rgb(250, 234, 234); */
    /* background-color: #FBFBFB; */
}

.signup-card{
    width: 350px;
    padding: 1.5rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
.btn-primary{
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
}

.signup-option {
    width: 350px;
    background-color: var(--bs-tertiary-bg);
    border: 1px solid #dcdcdc;
    padding: 10px 20px;       
    border-radius: 8px;
}

.signup-option p {
    margin: 0;
    cursor: pointer;
}

.password-field{
    position: relative;
}

.toggle-show-btn{
    position: absolute;
    height: auto;
    width: auto;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}